.pop-up {
  width: 100%;
  height: 1062px;
  background: #000000;
  opacity: 64;
  display: flex;
  justify-content: center;
  align-items: center
}

.pop-up-window {
  position: relative;
  display: block;
  width: 875px;
  height: 617px;
  background: #ffffff;
}

.close-window {
  position: absolute;
  right: 30px;
  top: 30px;
}

.close-window > p {
  text-transform: uppercase;
  color: #444443;
  margin-right: 10px;
}

.close-sign {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.close-window * {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.order-call-text, .basket-text {
  font: 77px "Oswald", "Sans-serif";
  text-transform: uppercase;
  color: #444443;
}

.order-call-text {
  margin: 80px 0 70px 0;
  text-align: center;
}

.order-inputs * {
  width: 548px;
  height: 65px;
  border-radius: 50px;
}

.order-inputs {
  text-align: center;
}

.order-phone {
  margin-top: 15px;
}

.order-name::placeholder, .order-phone::placeholder {
  font-size: 16px;
  padding-left: 45px;
  color: rgba(68, 68, 67, 0.33);
}

.order-name:focus, .order-phone:focus {
  border-color: #b77309;
}

.pop-up-btn {
  width: 250px;
  height: 60px;
  color: #ffffff;
  font-weight: bold;
  margin: 47px 100px 0;
  text-transform: uppercase;
  background-color: #cf8b3b;
  border: none;
}

.thanks {
  background: #ffffff url(img/background-triangle.png) 118%
}

.pop-up-logo {
  margin-top: 60px;
  width: 180px;
  height: 120px;
}

.big-text {
  margin-top: 70px;
  font: 36px Oswald, Sans-serif;
  text-transform: uppercase;
}

.middle-text {
  width: 660px;
  margin: 30px auto 0;
  font: 24px Calibri, Sans-serif;
}

.big-text, .middle-text {
  color: #474747;
}

.basket {
  width: 1460px;
  height: 775px;
}

.basket-wrapper {
  padding: 40px 55px 85px 70px;
  max-height: 100%;
  max-width: 100%;
}

.make-order {
  font-size: 0;
  margin-top: 55px;
  height: 452px;
}

.scroll-bar * {
  display: inline-block;
}

.scroll-bar {
  display: inline-block;
  width: 56%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto
}

.scroll-bar::-webkit-scrollbar {
  width: 2px;
}

.scroll-bar::-webkit-scrollbar-track {
  background: #cdcdcd;
}

.scroll-bar::-webkit-scrollbar-thumb {
  width: 2px;
  height: 25px;
  background: #f2ab1f;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.jar-item {
  padding: 28px 10px 28px 0;
  border-bottom: 1px solid #cdcdcd;
}

.jar-item * {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.jar-little {
  width: 56px;
  height: 85px;
  cursor: pointer;
}

.jar-name {
  font: 26px Calibri, sans-serif;
  color: #444443;
  margin-left: 50px;
  margin-right: 70px;
}

.plus, .minus {
  background: #eceaea;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.plus > p, .minus > p {
  font: 24px Oswald, sans-serif;
  color: #444443;
}

.plus > p {
  line-height: 19px;
}

.minus > p {
  line-height: 13px;
}

.jar-number {
  font: 14px Oswald, sans-serif;
  color: #444443;
  padding: 0 20px;
}

.jar-price {
  padding: 0 65px 0 50px;
  font: 24px Oswald, sans-serif;
  color: #444443;
}

.right-content {
  display: inline-block;
  width: 44%;
  vertical-align: top;
  padding: 0 50px 60px;
}

.right-content input {
  width: 515px;
}

.right-cont-bottom > * {
  display: inline-block;
}

.right-cont-bottom {
  width: 120%;
  margin-top: 60px;
}

.right-cont-bottom p {
  font: 24px Calibri, "Sans-serif";
  color: #474747;
  width: auto;
  height: auto;
  margin-right: 25px;
  vertical-align: bottom;
}

.right-cont-bottom span {
  font: 36px Oswald, "Sans-serif";
  color: #444443;
}

.right-cont-bottom button {
  margin: 0;
}

.right-content > .order-header {
  font: 36px Oswald, "SansSerif";
  text-transform: uppercase;
  margin-bottom: 40px;
}

.right-content .order-inputs {
  margin: 0;
  text-align: left;
}