.shop {
  position: relative;
  font-size: 0;
}

.shop-left {
  display: inline-block;
  width: 45%;
}

.shop-left h2 {
  font: 56px Oswald, sans-serif
}

.item-description {
  display: inline-block;
}

.shop-left > h2 {
  padding-bottom: 65px;
  text-align: center;
}

.items-block {
  background: #4299ca url("img/triangle-shop.png");
  padding: 75px 30px 100px 115px;
  position: absolute;
  left:0;
  right:0;
  top:10%;
  bottom:0;
  width: 45%;
}

.side-shop-text {
  z-index: 1;
}

.side-shop-text::before {
  left: -40%
}

.side-shop-text::after {
  left: 140%
}

.shop-buttons {
  font-size: 0;
}

.shop-btn {
  display: inline-block;
  width: 148px;
  font: 16px Calibri, sans-serif;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  background: #4299ca;
  border: 1px solid #ffffff;
  border-radius: 50px;
  vertical-align: middle;
  cursor: pointer;
  padding: 3% 0;
}

.shop-btn:last-child {
  margin-right: 0;
}

.shop-btn:first-child {
  background: #ffffff;
  border: none;
  color: #444443;
}

.shop-items {
  padding-top: 50px;
}

.shop-item {
  padding-top: 55px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

.shop-item:nth-child(3) {
  padding-right: 0;
}

img.shp-item-img {
  width: 100px;
  height: 140px;
}

.shop-item-name {
  padding-top: 10px;
  font: 24px Calibri, sans-serif;
  color: #ffffff;
}

.item-description {
  vertical-align: top;
  font-size: 0;
  max-width: 55%
}

.shop-list > h3 {
  padding-bottom: 70px;
}

.shop-photo {
  width: 200px;
  height: 300px;
  padding: 2%;
  word-wrap: break-word;
  text-align: center;
  vertical-align: middle;
}

.shop-info {
  max-width: 59%;
  vertical-align: middle;
}

.shop-info > h3 {
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.shop-photo, .shop-info {
  display: inline-block;
}

.shop-arrow {
  font: 24px Calibri, sans-serif;
  color: #0e0e0e;;
}

.arrows {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}


.shop-list-item, .list-descr {
  font: 24px Calibri, sans-serif;
  color: #444443;
  font-weight: 100;
}

.shop-list-item {
  position: relative;
  font-weight: bold;
  padding-bottom: 40px;
}

.shop-list-item h3 {
  position: absolute;
  top: 0;
}

.shop-list {
  font-size: 0;
  padding: 0 50px;
}

.shop-price {
  padding: 3rem 0;
  font: 36px Oswald, sans-serif;
  font-weight: bold;
  color: #444443;
}

.shop-quantity {
  display: block;
}

.shop-quantity > * {
  display: inline-block;
}

.shop-quantity {
  .minus, .plus {
    background: #ffffff;
    text-align: center;
  }
}

.shop-main-btn {
  background: #4299ca;
  margin: 30px 0;
}

#tab1, #tab2, #tab3 {
  display: none;
}

#tab1:checked ~ .capsules,
#tab2:checked ~ .closes,
#tab3:checked ~ .tablets {
  display: block;
}

.capsules, .closes, .tablets {
  display: none;
}