.wrapper {
    height: auto;
}

.jar {
    position: absolute;
    height: auto;
    width: auto;
}

.jar-img {
    position: absolute;
    min-width: 150%;
    top: -3%;
    left: -75%;
}

.text-content {
    padding-top: 230px;
    max-width: 0;
}

.content-text {
    font-size: 34px;
}

.additional-text {
    font-size: 12px;
}

.subscribe {
    font-size: 9px;
}

.social-arrow {
    width: 10px;
    height: 8px;
}

header {
    top: auto;
    padding: 20px 0;
    font-size: 0;
}

a > img.logo-main {
    max-height: 20%;
    max-width: 60%;
}

.toggle-cart span, .toggle-nav > span {
    display: none;
}

header .toggle-cart, header .toggle-nav {
    padding: 0;
    margin: 0;
    right: auto;
    height: auto;
}

.toggle-nav img {
    width: 19px;
    height: 15px;
}

.toggle-cart img {
    width: 25px;
    height: 20px;
}

.menu-wrapper {
    width: 70%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    right: 0;
}

.logo-link {
    width: 30%;
    padding-left: 17px;
}

#hero {
    background: #cf8b3b url(../img/background-triangle.png) no-repeat;
    background-size: 200%;
    background-position-x: 71%;
    height: 620px;
}

.text-content, .content-text {
    padding: 0;
    margin: 0;
    max-width: none;
}

.text-content {
    padding: 105% 16px 0;
}

.side-label {
    top: 48%;
    right: 7.15%
}

.side-label::after, .side-label::before {
    height: 15px;
}

.vertical-text {
    display: none;
}

.additional-text {
    margin-top: 15px;
}

.content-text::after {
    margin-top: 18px;
}

.side-label::before {
    top: 36px;
}

.slide-control span {
    margin: 20px 0;
}

#hero .follow {
    top: 70%;
    right: -3%;
    bottom: auto;
}

.basic-social {
    padding: 0;
}

a.arrow-down {
    top: 7%;
    bottom: 30px;
    left: -75%;
}

.side-label::after {
    top: 70px;
}

.in-store-btn {
    width: 127px;
    height: 31px;
    font: 10px "Calibri", sans-serif;
    margin-top: 15px;
    margin-bottom: 2%;
}

.phone {
    width: 35px;
    height: 35px;
    right: 17px;
    bottom: 2%;
}

.phone img {
    max-width: 50%;
}

.arrow-down .line {
    width: 32px;
    height: 1px;
}

.arrow-d {
    width: 10px;
    height: 8px;
}

.slick-list div:nth-child(3) img {
    left: 350px;
}

.social-bar {
    margin-top: 18px;
}

.list-burger li, .social-bar li {
    font-size: 18px;
}

.wrapper-burger {
    padding: 20px 40px;
    height: auto;
    width: 100%;
    margin: 0;
}

.wrapper-burger-list {
    padding-top: 10px;
}

.burger-close > p {
    font-size: 10px;
}

.close-sign {
    height: 10px;
    width: 10px;
}

.lang-bar li {
    font-size: 18px;
    line-height: inherit;
}

.lang-bar {
    position: absolute;
    line-height: 20px;
    bottom: 35px;
    right: 15px;
}

.scroll-bar, .right-content {
    display: block;
}

.scroll-bar {
    width: 100%;
    height: 315px;
}

.pop-up {
    width: auto;
}

.basket-text {
    font-size: 34px;
}

.jar-item {
    position: relative;
    width: 100%;
    padding: 28px 10px 42px 0;
}

.order-name::placeholder, .order-phone::placeholder
{
    font-size: 10px;
    padding: 0;
    color: rgba(68, 68, 67, 0.33);
}

input {
    padding-left: 20px;
    color: rgba(68, 68, 67, 1);
    font: 10px Calibri, sans-serif;
}

.jars-quantity {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 15px 0 10px;
}

.jar-name, .jar-price {
    font-size: 12px;
}

.jar-name {
    margin: 0 20px;
}

.jar-number {
    font-size: 10px;
}

.jar-price {
    padding: 0 25px 0 15px;
}

.basket-wrapper {
    padding: 0;
}

.basket, .pop-up-window {
    width: auto;
    height: auto;
}

.make-order {
    height: auto;
    margin-top: 55px;
    padding: 15px 15px 30px;
    background: #ffffff;
}

.order-inputs {
    width: 100%;
}

.order-inputs * {
    width: 100%;
}

.right-content {
    padding: 50px 0 20px 0;
    width: auto;
}

.right-content input {
    width: 250px;
    height: 30px;
}

.right-content > .order-header {
    font-size: 20px;
}

.why-item::before {
    margin-top: 10px;
}

.why-head {
    font: 1.8rem Oswald, sans-serif;
    padding-bottom: 1rem;
}

.why {
    padding: 2rem 0;
}

.basket-wrapper {
    max-height: none;
    max-width: none;
}

.why-par, .why-par-header {
    font-size: 0.9rem;
}
