.toggle-cart span, .toggle-nav > span {
    display: inline-block;
    font-size: 12px;
}

header {
    padding: 0 5rem;
}

img.logo-main {
    max-width: none;
}

.logo-main {
    width: 110px;
    height: 75px;
}

.item.slick-slide {
    width: auto;
}

.content-text {
    font-size: 47px;
}

.additional-text {
    font-size: 16px;
}

.in-store-btn {
    font-size: 12px;
    font-weight: bold;
}

.menu-wrapper {
    margin: 0;
    width: auto;
}

.subscribe {
    font-size: 12px;
}

.jars-quantity {
    position: static;
}

.jar-name {
    margin: 0 50px;
    font-size: 16px;
}

.jar-price {
    padding: 0 50px;
    font-size: 16px;
    font-weight: bold;
}

.slick-track {
    height: 100vh;
}

.jar {
    top: calc(50vh - 495px/2);
    margin-top: 5%;
    left: calc(100vw - 91%);
    height: auto;
    width: auto;
}

.side-label {
    right: 5.15%;
}

.why-main {
    margin: 0 70px 0 120px;
}

.right-content > .order-header {
    font-size: 22px;
}

.shop-photo {
    position: absolute;
    right: calc(25% - 200px/2);
}

.right-content input {
    width: 97%;
    height: 45px;
}

.order-inputs * {
    width: auto;
}

.pop-up-btn {
    width: 190px;
    height: 45px;
}

.right-cont-bottom {
    margin-left: 41%;
}

.wrapper-burger {
    height: 160%;
}

.burger-close > p {
    font-size: 12px;
}

.list-burger li, .social-bar li {
    font-size: 30px;
}

.lang-bar li {
    font-size: 22px;
    line-height: inherit;
}

.order-inputs * {
     width: 335px;
     height: 45px;
}

.order-inputs {
    width: 90%;
    margin: auto;
}

.pop-up-btn {
    width: 195px;
}

.shop-photo {
    text-align: center;
    width: 100%;
    position: static;
    margin-top: 12rem;
    height: auto;
}

.shop-photo > img {
    width: 50%;
}

.shop-info > h3 {
    text-align: center;
    padding-top: 2rem;
}

div.shop-info {
    max-width: 100%;
}

p.shop-price,
div.jars-quantity {
    text-align: center;
}

button.shop-main-btn {
    margin-left: calc(50% - 195px/2);
}
